* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: "Noto Sans";/*, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;*/
    background: var(--bg);
    color: var(--text);
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

main {
    position: relative;
    flex: 1;
    padding: 16px;
}

.no-anim,
.no-anim::before,
.no-anim::after,
.no-anim *,
.no-anim *::before,
.no-anim *::after {
    transition: none !important;
    animation: none !important;
}