@property --primary-r { syntax: "<number>"; inherits: true; initial-value: 0; }
@property --primary-g { syntax: "<number>"; inherits: true; initial-value: 255; }
@property --primary-b { syntax: "<number>"; inherits: true; initial-value: 5; }

:root {
    --bg: #04080F;
    --bg-rgb: 17, 17, 17;
    --bg-secondary: #0e141d;
    --bg-secondary-rgb: 14, 20, 29;
    --bg-tertiary: #161c26;
    --bg-tertiary-rgb: 22, 28, 38;

    --text: #DAE3E5;
    --text-rgb: 218, 227, 229;

    --glow: white;
    --glow-rgb: 255, 255, 255;

    --primary-r: 0;
    --primary-g: 255;
    --primary-b: 5;
    --primary: #00ff05;
    --primary-rgb: var(--primary-r), var(--primary-g), var(--primary-b);
    --secondary: #A1C6EA;
    --secondary-rgb: 161, 198, 234;
    --tertiary: #BBD1EA;
    --tertiary-rgb: 187, 209, 234;

    --border: #3e3f40;
    --border-rgb: 62, 63, 64;
    --radius: 20px;

    --spring-easing: linear(0, 0.0043 0.91%, 0.0353 2.74%, 0.1219 5.48%, 0.5619 15.52%, 0.7585 20.99%, 0.8336, 0.8934, 0.9395, 0.9735, 0.9974, 1.0131 37.42%, 1.0245, 1.0283 44.72%, 1.0258 50.2%, 1.0093 63.89%, 1.003 72.1%, 0.9996 83.05%, 0.9994 99.48%);
    --spring-duration: 0.4681s;
    --spring: var(--spring-duration) var(--spring-easing);

    --ease-out: cubic-bezier(0.22, 1, 0.36, 1);

    --theme-change: 1s ease-in-out;

    transition: --primary-r var(--theme-change),
                --primary-g var(--theme-change),
                --primary-b var(--theme-change);
}