#roadmap-section {
    h2 {
        font-size: 2rem;
    }
    .roadmap {
        list-style: none;
        margin: 0;
        padding: 0;

        .mission {
            background-color: ;
        }
    }
}