#stats {
    --scroll: 0;

    --plotted-scroll: calc(pow(calc(var(--scroll) / 25), .5) * 25);

    position: absolute;

    width: calc(100% - max(50px - (var(--plotted-scroll) * 1px), 0px));
    height: fit-content;
    min-height: 1500px;
    bottom: 100px;
    left: 50%;

    /*padding-inline: calc(min(var(--plotted-scroll) * 1px, 50px) / 2 + 20px);*/
    padding-inline: 20px;

    transform: translate(-50%, 100%);

    background-color: var(--bg-secondary);
    border: 1px solid var(--border);
    border-radius:  var(--radius) var(--radius) 0 0;

    /*--local-radius: calc(var(--radius) - min(var(--plotted-scroll) / 2 * 1px, var(--radius)));
    border-radius: var(--local-radius);*/
}